.container{

  display: inline;
  width: 100px;
  height: 100px;
  text-align: center;
}
body{

  text-align: center;
  position: relative;
  background-image: url('https://giffiles.alphacoders.com/415/4156.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
img{

  text-align: center;
}
ul,li{

  color: whitesmoke;
  text-align: left;
  background-image: url('https://images.unsplash.com/photo-1528459061998-56fd57ad86e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=319&q=80');
  background-size:contain;
  background-size: cover; 
  width:fit-content;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: large;
}
button{
 margin-bottom: 60px;
  background-color: rgb(255, 0, 0); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  

  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}


  .button:hover, .button:focus {
      color: #313133;
      transform: translateY(-6px);
    }
    button:hover::before, button:focus::before {
      opacity: 1;
    }
    
    button::after {
      content: '';
      width: 30px; height: 30px;
      border-radius: 100%;
      border: 6px solid #00FFCB;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: ring 1.5s infinite;
    }
    
    button:hover::after, button:focus::after {
      animation: none;
      display: none;
    }
    
    @keyframes ring {
      0% {
        width: 30px;
        height: 30px;
        opacity: 1;
      }
      100% {
        width: 300px;
        height: 300px;
        opacity: 0;
      }
    } 

chart {

text-align: center;
width: 50%;
height: 50%;
}


#background-video {
width: 100vw;
height: 100vh;
object-fit: cover;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index: -1;
}